<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<link href="/css/style.css" rel="stylesheet"/>
<head>
    <title>Page d'accueil</title>
</head>
<body>
<h1>Bienvenue sur la page d'accueil !</h1>
<a th:href="@{/addUsager}">Ajouter un usager</a>
<br>
<a th:href="@{/searchUsager}">Rechercher un usager</a>
<br>
<a th:href="@{/addOeuvre}">Gestion oeuvre</a>
<br>
<a th:href="@{/addExemplaire}">Ajouter un exemplaire</a>
<br>
<a th:href="@{/addEmprunt}">Nouvel emprunt</a>
<br>
<a th:href="@{/rendreEmprunt}">Rendre emprunt</a>
</body>
</html>
