<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<link href="/css/style.css" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Ajouter une Œuvre</title>
</head>
<body>

<h1>Ajouter une Œuvre</h1>
<a th:href="@{/addLivre}">Ajouter un Livre</a>
<br>
<a th:href="@{/addMagazine}">Ajouter un Magazine</a>
<br>
<!-- Formulaire de suppression -->
<form method="post" th:action="@{/oeuvre/supprimer}">
    <label for="ISBN">Supprimer :</label>
    <input id="ISBN" name="ISBN" placeholder="Entrez l'ISBN de l'oeuvre" type="text">
    <button onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet oeuvre ? Tout les exemplaires associé seront également supprimé');"
            type="submit">Supprimer
    </button>
</form>
<a th:href="@{/}">Retourner à l'accueil</a>
</body>
</html>
